:root{
    --main-bg-color: #e892e9;
    --main-snd-color: #160319;
}

.divGlobal{
    background-color: var(--main-snd-color);
    width: 100%;
    height: 85vh;
}

.divFirst{
    color:#e892e9;
    margin-left: 146px;
    padding-top: 100px;
    font-size: 25px;
}

.divSecond{
    color: #e5b1e6;
    margin-left: 140px;
    font-size: 54px;
    
}

.second{
    box-sizing: content-box;
    margin: 0px;
    margin-top: 11px;
    font-weight: 400;
}

.divThird{
    color: #e5b1e6;
    margin-left: 140px;
    font-size: 40px;
}

.third{
    margin: 2px 0px 50px 0px;
    font-weight: 400;
}

.divFourth{
    color: #fcdcfd;
    font-size: 16px;
    width: 50%;
    margin-left: 146px;
}

.divFifth{
    color: var(--main-bg-color);
    background-color: #3a1d3f;
    border: 1px solid rgb(184, 184, 184);
    display: flex;
    margin: 50px 0px 0px 146px;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 70px;
    cursor: default;
    transition-property: background-color, color;
    transition-duration: 200ms;
}

.divFifth:hover{
    background-color: rgb(184, 184, 184);
    color: #df3be1;
}

@media screen and (max-width: 480px) { 
    .divGlobal{
        display: none;
    }
}

