:root{
    --main-bg-color: #e892e9;
    --main-snd-color: #160319;
}

.divGlobal{
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    height: 100%;
    padding-bottom: 14%;
}

.divTitle{
    color: #2d0833;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 2.5em;
}

.title{
    font-weight: 500;
}

.divBody{
    display: grid;
    grid-template-rows: 50% 50%;
    margin: 0 auto;
    width: 80%;
}

.divLogo{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
}

.span{
    margin: 0 auto;
    margin-top: 10px;
}

.divSocial{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
    margin: 0 auto;
    gap: 20%
}

a{
    color: var(--main-snd-color);
}

.divForm form{
    display: flex;
    flex-direction: column;
    height: 400px;
    align-items: center;
}

.divForm input{
    width: 50%;
}

.inpTopic{
    height: 10%;
    border-radius: 7px;
    border: none;
    outline: none;
}

.inpEmail{
    height: 10%;
    border-radius: 7px;
    border: none;
    outline: none;
    margin-top: 10px;
}

.inpMessage{
    height: 50%;
    border-radius: 7px;
    border: none;
    outline: none;
    margin-top: 10px;
    width: 50%;
}

.divForm button{
    border: none;
    outline: none;
    margin-top: 20px;
    width: 10%;
    transition-property: width;
    transition-duration: 500ms;
}

.divForm button:hover{
    width: 15%;
}

@media screen and (max-width: 450px) {
    .divTitle{
        font-size: 2em;
    }
    .divLogo{
        width: 80px;
        height: 80px;
    }
    .span{
        font-size: 0.75em;
    }
    
    .inpMessage{
        height: 50%;
        width: 70%;
    }
    .divForm button{
        width: 30%;
    }
    
    .divForm button:hover{
        width: 50%;
    }
}

@media screen and (min-width: 450px) {
    .divTitle{
        font-size: 2.3em;
    }
    .divLogo{
        width: 100px;
        height: 100px;
    }
    .span{
        font-size: 1em;
    }
}

@media screen and (max-width: 1000px) {
    .divSocial{
        grid-template-columns: 50% 50%;
        padding-bottom: 30%;
    }
}