:root{
    --main-bg-color: #e892e9;
    --main-snd-color: #160319;
}

.divGlobal{
    color: var(--main-bg-color);
    background-color: var(--main-snd-color);
    display: flex;
    justify-content: space-between;
    cursor: default;
    width: 100%;
}

.divLogo{
    display: flex;
    padding: 2.5em;
    align-items: center;
    justify-content: center;
}
.logo{
    font-size: 2.5em;
}

.byme{
    display: flex;
    margin: 20px 0px 0px 10px;
}

.divButtons{
    display: flex;
    margin: 0px 40px 0px 0px;
    padding: 0px;
    justify-content: space-around;
    align-items: center;
}

.span{
    display: flex;
    margin: 0px 20px 0px 20px;
    transition-property: color;
    transition-duration: 250ms;
}

.span:hover{
    color: rgb(220, 220, 220);
}

.contact{
    display: flex;
    margin-left: 10px;
    padding: 10px 20px 10px 20px;
    background-color: #3a1d3f;
    border: 1px solid rgb(184, 184, 184);
    transition-property: background-color, color;
    transition-duration: 200ms;
}

.contact:hover{
    background-color: rgb(184, 184, 184);
    color: #df3be1;
}


@media screen and (max-width: 320px) {
    .contact{
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .span{
      display: none;
    }
}

@media screen and (min-width: 1800px) {
    .logo{
        font-size: 3.5em;
    }
    .span{
        font-size: 1.25em;
    }
    .byme{
        font-size: 1.25em;
    }
    .contact{
        font-size: 1.25em
    }
}